form button, form input[type="text"] {
    border-radius: 4px;
    padding: 1em 1.5em;
    font-size: 0.9em;
    border: none;
}
form button {
    margin-left: 10px;
    background-color: limegreen;
    color: #333;
}
form input[type="text"] {
    width: 350px;
}