/* fundo - texto sobre */
.sobre .custom-background {
    background: #41374B;
    color: #fff;
    padding: 100px 4%;
}
.sobre .section-title {
    margin-bottom: 60px;
}
.sobre .section-title, .sobre .section-title em {
    color: #fff;
}
.sobre p {
    margin-bottom: 30px;
}
.sobre p, .sobre .uk-list li {
    line-height: 1.75;
    letter-spacing: 0.025rem;
    font-weight: 200;
    font-size: 1.3rem;
}
.sobre .uk-list {
    padding-left: 20px;
}
.sobre .uk-list li::before {
    /* Polygon 1 */
    content: '';
    display: block;
    position: absolute;
    width: 0px;
    height: 0px;
    margin: 10px 0 0 -10px;
    margin-left: -20px;
    border: 8px solid transparent;
    border-bottom-color: #14E371;
    box-sizing: border-box;
    transform: rotate(90deg);
}