@charset "UTF-8";

@font-face {
    font-family: 'SF Pro Display';
    src: url('../font/subset-SFProDisplay-Bold.eot');
    src: local('SF Pro Display Bold'), local('SFProDisplay-Bold'),
        url('../font/subset-SFProDisplay-Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/subset-SFProDisplay-Bold.woff2') format('woff2'),
        url('../font/subset-SFProDisplay-Bold.woff') format('woff'),
        url('../font/subset-SFProDisplay-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../font/subset-SFProDisplay-Regular.eot');
    src: local('SF Pro Display Regular'), local('SFProDisplay-Regular'),
        url('../font/subset-SFProDisplay-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/subset-SFProDisplay-Regular.woff2') format('woff2'),
        url('../font/subset-SFProDisplay-Regular.woff') format('woff'),
        url('../font/subset-SFProDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
	box-sizing: -moz-border-box !important;
	box-sizing: -moz-border-box !important;
	box-sizing: border-box !important;
	-webkit-tap-highlight-color: transparent;
	-webkit-backface-visibility: hidden;
}

*,
 :after,
 :before,
*:before,
*:after {
	box-sizing: inherit;
}

nav,
section,
article,
footer,
header {
	display: block;
	width: 100%;
}

body {
	margin: 0;
	padding: 0;
	text-align: left;
	font-family: "SF Pro Display", sans-serif !important;
	font-size: 16px;
	line-height: 1.42857143;
	color: #555555;
	background-color: #fff;
	overflow-x: hidden !important;
	/* last resort */
	height: 100%;
}

.wrap {
	margin: 0 auto;
	width: 100%;
	max-width: 1440px;
	background: #fff;
}

hr {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
	border-top: 1px solid #eee;
}

a {
	color: #3377aa;
	text-decoration: underline;
	cursor: pointer;
}

p {
	margin: 0 0 10px;
}

blockquote {
	font: 400 28px/1.6 "SF Pro Display", sans-serif;
	letter-spacing: -0.015em;
	margin-top: 70px;
}

cite {
	float: right;
	text-align: right;
	clear: both;
	width: 100%;
	position: relative;
	margin-bottom: 70px;
	font: 400 20px "SF Pro Display", sans-serif;
}

a:hover {
	color: #b20;
}

a:active,
a:focus {
	outline: none;
}

.btn {
	font-family: "SF Pro Display", sans-serif;
	font-size: 22px;
	border: solid 1px #333;
	padding: 0.5em 1em;
	border-radius: 4px;
	color: #333;
	text-decoration: none;
	transition: all .2s;
	cursor: pointer;
}

.btn:hover {
	background-color: #3377aa;
	color: #fff;
	text-decoration: none;
	border: solid 1px #3377aa;
}

.container {
	width: 94%;
	margin: 0 3%;
	float: left;
}

.unstyled-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.unstyled-list li {
	display: block;
}

.unstyled-list.inline li {
	display: inline;
}
/* Grid System */

.row {
	float: left;
	/* position: relative; */
	width: 100%;
	min-height: 1px;
	clear: both;
}

.full,
.half,
.third,
.two-third,
.quarter,
.three-quarter,
.fifth,
.four-fifth,
.sixth,
.five-sixth,
.one-eight {
	float: left;
}

.full {
	width: 100%;
}

.half {
	width: 50%;
}

.third {
	width: 33.33333%;
}

.two-third {
	width: 66.66667%;
}

.quarter {
	width: 25%;
}

.three-quarter {
	width: 75%;
}

.fifth {
	width: 20%;
}

.four-fifth {
	width: 80%;
}

.sixth {
	width: 16.66667%;
}

.five-sixth {
	width: 83.33333%;
}

.one-eigth {
	width: 12.5%;
}

.centered {
	float: none !important;
	margin: 0 auto;
}

.v-spacer {
	padding: 100px 0;
}

.align-left {
	text-align: left;
}

.align-right {
	text-align: right;
}

.align-center {
	text-align: center;
}

/* Titles and Headings */
.h1, h1 {
	font-family: "SF Pro Display", sans-serif;
}

.h2, h2 {
	font: bold 48px/1.8 "SF Pro Display", sans-serif;
}

.h3, h3 {
	font: bold 36px/1.5 "SF Pro Display", sans-serif;
}

.h4, h4 {
	font: bold 30px/1.5 "SF Pro Display", sans-serif;
}

.h5, h5 {
	font: bold 24px/1.5 "SF Pro Display", sans-serif;
}

.h6, h6 {
	font: bold 18px/1.5 "SF Pro Display", sans-serif;
}