/* .hero {
    margin-top: -80px;
    background: url("../images/alex_patagonia.jpg") no-repeat right center;
    background-size: cover;
}
@media (min-width: 1280px) {
    .hero {
        padding-top: 7%;
        padding-left: 10%;
    }
}
.main-header h2 {
    font-size: 4.5rem;
    font-weight: 700;
    margin-bottom: 0;
    color: #fff;
}
.main-header h2 small {
    display: block;
    font-size: 1.2rem;
    padding-left: 16px;
    margin-top: 50px;
    color: rgba(20, 227, 113, 1);
}
.main-header h3 {
    margin: 0;
    font-size: 3.5rem;
    font-weight: 700;
    color: #e3d214
}
.main-header h4 {
    color: #fff;
    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 40px;
    font-weight: 200;
    letter-spacing: 0.05rem;
    line-height: 1.3;
    width: 60%;
}
.btn-scroll {
	border: solid 1px #ccc;
	border-radius: 20px;
	background-color: #fff;
	font-size: 40px;
	line-height: 1;
	padding: 10px 4px 0;
	margin: 0;
	cursor: pointer;
	color: #999;
	transition: all .25s ease-in-out;
	transform: translateY(-30px);
	opacity: 1;
}
.main-header .uk-button-large {
    border-radius: 8px;
    font-size: 1.7rem;
    font-weight: 400;
    border: solid 2px rgba(255,255,255,0);
    background-color: rgba(0,0,0,.6);
    padding: 10px 30px;
    display: inline-block;
    text-decoration: none;
    transition: all .250s ease;
}
.main-header .uk-button-large:hover {
    border: solid 2px rgba(255,255,255,0);
    background-color: rgba(0,0,120,.6);
}
.main-header .uk-button-large .emoji {
    display: inline-block;
    font-size: 2rem;
    transition: transform .250s ease-in-out;
    transform: rotate(0deg);
    will-change: transform;
}
.main-header .uk-button-large:hover .emoji {
    transform: rotate(20deg);
}
.btn-scroll:hover {
	transform: translateY(-20px);
	opacity: .5;
	color: #999;
}
.btn-scroll:focus {
	outline: none;
} */