.brand:hover {
    text-decoration: none;
}
.brand h1 {
    font-size: 3rem;
    font-weight: 900;
    padding-left: 20px;
}
.uk-offcanvas-bar {
    background: #fff;
}
.uk-offcanvas-bar .uk-nav li a, .uk-offcanvas-bar .uk-offcanvas-close {
    color: #444 !important;
    border: solid 1px transparent;
    display: inline-block;
    transition: all .15s ease-in-out;
}
.uk-offcanvas-bar .uk-nav li a:hover {
    border-bottom: solid 1px lime;
    /*color: #fff !important;*/
}